container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_createsu:
    command: "django-admin createsu"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
  04_seed_categories:
    command: "django-admin seed_categories"
  05_seed_people:
    command: "django-admin seed_people --total=40"
  06_seed_books:
    command: "django-admin seed_books --total=40"
  07_seed_movies:
    command: "django-admin seed_movies --total=40"
  08_seed_reviews:
    command: "django-admin seed_reviews --total=80"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings